* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Roboto';
  
}

.container-1 {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 1000px;
    padding: 24px 0 24px 0;
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.center-div {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
}

.hero-right {
    background: url(../Landing-Page/images/wave.jpg) no-repeat center;
    background-size: cover;
    width: 500px;
}

.bob {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin-bottom: 13px;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 12px;
}

button {
    color: white;
    background-color: #3882F6;
    cursor: pointer;
    width: 130px;
    height: 40px;
    border-radius: 8px;;
}


.container-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 32px 0;
}

img {
    width: 100px;
    height: 100px;
}

.info-container {
    display: flex;
    gap: 52px;
    padding-bottom: 100px;
}

.info {
    max-width: 160px;
}

.container-3 {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.text-insp {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
}

.insp {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 700px;   
}

.author {
    color: #1F2937;
    font-weight: 900;
    align-self: flex-end;
}




.container-4 {
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup {
    background-color: #3882F6;
    color: white;
    width: 1000px;
    padding: 35px 90px;
    margin: 80px 0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-sign {
    font-weight: bold;
    font-size: 16px;
    border-color: white;
}

.footer {
    background-color: #1F2937;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}